<?xml version="1.0"?>
<launch>
  <!-- EDIT PARAMS HERE -->
  <arg name="enable" default="true" />
  <arg name="output_queue_size" default="64" />
  <arg name="rs232_baud_rate" default="115200" />
  <arg name="rs232_port" default="COM1" />
  <arg name="obdii_polling_rate" default="100" />
  <node name="obdii_interface_process" pkg="obdii_interface" type="obdii_interface_node" output="screen">
    <param name="queue_size" value="$(arg output_queue_size)" />
    <param name="rs232_baud_rate" value="$(arg rs232_baud_rate)" />
    <param name="rs232_port" value="$(arg rs232_port)" />
    <param name="obdii_polling_rate" value="$(arg obdii_polling_rate)" />
  </node>
</launch>

